@model List<Product>

<h3>Our Products</h3>

 <div style="display: block">
        <a href="/Product/InsertProduct">Create a New Product</a>
    </div>

<table class="table">
   <tr>
       <th>Product ID</th>
       <th>Name</th>
       <th>Price</th>
  </tr>

@foreach(Product prod in Model)
{
   <tr>
       <td>@prod.ProductID</td>
       <td><a href=Product/ViewProduct/@prod.ProductID>@prod.Name</a></td>
       <td align="right">@prod.Price</td>
   </tr>
}

</table>